:root{
	--primary: #0D1B2A;
	--secondary: #1B263B;
	--tertiary: #415A77;
	--on-primary: #E0E1DD;

	--grid-border: #E1FF00;
	--clock-graph: #00FFF7;
}

/* Applies Style to the Right Part of the Page */

#data-display {
	position: fixed;
	top: 15vh;
	left: 80vw;
	background-color: var(--secondary);
	width: 100%;
	height: 81svh;
	border-radius: 20px 0 0 20px;

	margin-top: 2svh;

	border-top: 2px solid var(--on-primary);
	border-left: 2px solid var(--on-primary);
	border-bottom: 2px solid var(--on-primary);
	box-sizing: border-box;

	box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.9);

	#data-display-arrowBox {
		border-bottom: 2px solid var(--on-primary);
	}
}

/* Applies Style to the Button that Closes the Menu */

#hide-button {
	font-size: max(3dvh);
	font-weight: bold;
	margin: 8px 0px 8px 15px;
	padding: 0;
	align-self: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--on-primary);
}



.clock-name{
	width: 18%;
	margin-left: 1%;
	margin-bottom: 0;
	text-align: center;
	font-size: 1.5em;
	color: var(--on-primary);
    inline-size: fit-content;
}


.data-display-clock{
	margin-top: 1vh;
	margin-left: 1%;
	height: 15vh;
	width: 18%;

	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(6, 1fr);



	background-color: black;
}

.grid-item{
	background-color: transparent;
	border-left: 1px solid var(--grid-border);
	border-bottom: 1px solid var(--grid-border);
}