:root {
	--primary: #0D1B2A;
	--secondary: #1B263B;
	--tertiary: #415A77;
	--on-primary: #E0E1DD;
	--icons: #E0E1DD;
	--tool-data-back: #0D1B2A;
	--tool-data-text: #E0E1DD;
	--shadow-color: rgba(255, 255, 255, 0.9);
}

[data-theme="light"] {
	--primary: #E0E1DD;
	--secondary: #415A77;
	--tertiary: #1B263B;
	--on-primary: #0D1B2A;
	--shadow-color: rgba(0, 0, 0, 0.9);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--primary);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

::-webkit-scrollbar {
	width: .8vh;
}

::-webkit-scrollbar-thumb {
	background-color: var(--tertiary);
	border-radius: 1vh;
}

#logo{
	margin-left: .5svw;
	height: 6svh;
}



/* Top Bar */

#description {
	position: fixed;
	top: 0;
	left: 0;
	width: 100svw;
	height: 15dvh;
	z-index: 1000;


	font-size: 3dvh;
	font-weight: bold;
	color: var(--icons);
	margin: 0;
	padding: 0;
	text-align: center;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);

	background-color: var(--secondary);

	border-bottom: .4vh solid var(--on-primary);
	border-right: .4vh solid var(--on-primary);
	border-left: .4vh solid var(--on-primary);

	box-sizing: border-box;

	border-radius: 0 0 2vh 2vh;

	box-shadow: 0 .3vh 1vh var(--shadow-color);
}


/* Applies Style to the Top Bar of the Page */

.top-bar {
	height: 5dvh;
	aspect-ratio: 1;
	font-size: 4dvh;
	background-color: transparent;
	border: .3vh solid var(--icons);
	border-radius: 1vh;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}



/* Applies Every "div" of the Page */

#description>div {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}


/* Places the icon in the Right Part of the Grid */

.data-icon {
	grid-column: 1;
	grid-row: 1;
	justify-content: start;

	div {
		margin-left: 1svw;
	}
}


.control-icon-up {
	grid-column: 3;
	grid-row: 1;
	justify-content: start;

	div {
		margin-left: .5svw;
	}

}


.speed-control {
	margin-left: .5vw;
	height: 7vh;
	width: 6.2vw;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;

	background-color: var(--tool-data-text);

	border-radius: 1vh;


	#speed {
		margin: .5vh;
		height: 6vh;
		width: 3.5vw;
		grid-row: 1/3;
		background-color: var(--tool-data-back);
		border: none;
		font-size: 2.5vh;
		color: var(--tool-data-text);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 1vh;
	}

	.speed {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;
		justify-content: start;
		cursor: pointer;

		i {
			color: var(--tool-data-back);
		}
	}
}




.control-icon-down {
	grid-column: 3;
	grid-row: 2;
	justify-content: start;
	margin-top: 1svh;

	div {
		margin-left: .5svw;
	}
}


.zoom-icon {
	grid-column: 4;
	grid-row: 1;
	justify-content: end;

	div {
		margin-right: 1svw;
	}
}

.zoom-control {
	margin-left: .5vw;
	height: 7vh;
	width: 5vw;

	background-color: var(--tool-data-text);

	border-radius: 1vh;

	#zoom {
		margin: .5vh 0 0 .25vw ;
		height: 6vh;
		width: 4.5vw;
		background-color: var(--tool-data-back);
		border: none;
		font-size: 2vh;
		color: var(--tool-data-text);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 1svh;
	}
}



.display-icon {
	grid-column: 5;
	grid-row: 1;
	justify-content: end;

	div {
		margin-right: 1svw;
	}
}